
<div class="modal fade pacnem-session-expire-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger"><i class="glyphicon glyphicon-time"></i>&nbsp;
                {{t "general.modal_loading_title"}}</h4>
            </div>
            <div class="modal-body">
                <div style="background-image: url(/img/loading_nem.gif);
                            background-color: rgba(255,255,255,0.8);
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 250px;
                            width: 100%;">&nbsp;</div>
            </div>
            <div class="modal-footer">&nbsp;</div>
        </div>
    </div>
</div>
