<html>
    <head>
        <title>PacNEM</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="A PacMan game with NodeJS using the NEM Blockchain" />
        <meta name="keywords" content="pacman, pacnem, multiplayer pacman, multiplayer game, blockchain, nem, nemblockchain, pacman nem" />
        <meta name="author" content="Grégory Saive (https://github.com/evias)" />
        <meta name="robots" content="index, follow" />

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/nem-sdk.js"></script>
        <script src="/js/handlebars.min.js"></script>
        <script src="/js/jquery-hbs-file-template.js"></script>
        <script src="/js/pacman.js"></script>
    </head>
    <body>
        <div class="row page-header">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-left: 25px;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pacNEMNav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="NEMified pull-left pacnem-back-to-play" href="#"><img src="/img/NEM_100x100.png" alt="NEM Blockchain" title="NEM Blockchain" /></a>
                    <a class="navbar-brand pacNEMTitle pull-right pacnem-back-to-play" href="#">Pac<span class="NEMifiedText greaterNEM">nem</span><span class="smallerTitle">(pacman)</span></a>
                </div>
                <div class="collapse navbar-collapse" id="pacNEMNav">
                    <ul class="nav navbar-nav">
                        <li class="active pacnem-back-to-play"><a href="#">Play</a></li>
                        <li><a id="pacnem-scores-trigger" href="#" data-display="0">High Scores</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="currentBlockchain">
                            <a href="#">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;
                                <span id="currentBlockchain-network"><img src="/img/loading.gif" style="max-height: 30px;"/></span>
                            </a>
                        </li>
                        <li id="currentHearts" style="display: none;">
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span id="currentHearts-hearts"><img src="/img/loading.gif" style="max-height: 30px;"/></span>
                            </a>
                        </li>
                        <li id="currentUser" style="display: none;">
                            <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;<span id="currentUser-username"></span></a>
                            <input type="hidden" id="pacNEM-sessionId" value="" />
                        </li>
                        <li style="display: none;"><a href="#" id="pacnem-purge-trigger" class="text-danger"><span class="glyphicon glyphicon-trash"></span> Purge</a></li>
                        <li><a href="https://github.com/evias/pacNEM" target="_blank"><span class="glyphicon glyphicon-inbox"></span> Source</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="pacNEMWrapper" class="container-fluid text-center">
            {{{body}}}
            </div>
        </div>

        <footer class="container-fluid text-center">
          <p>
            Made with &hearts; for the <a href="https://nem.io" target="_blank"><span class="NEMifiedText">nem</span> Project</a>.<br />
            Copyright &copy; 2017 <a href="https://github.com/evias" target="_blank">Grégory Saive &lt;greg@evias.be&gt;</a>. Source code for the PacNEM project can be found <a href="https://github.com/evias/pacNEM" target="_blank">here</a>.<br />
            Credits to Nicolas Dubien for the original open source js-pacman project (<a href="https://github.com/dubzzz/js-pacman" target="_blank">dubzzz/js-pacman</a>).<br />
          </p>
        </footer>
    </body>
</html>
