<html>
    <head>
        <title>PacNEM</title>
        <meta name="description" content="A PacMan game with NodeJS using NEM Blockchain adapted and partly developed by Grégory Saive" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/pacman.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pacNEMNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="NEMified pull-left" href="https://nem.io" target="_blank"><img src="/img/NEM_logo_small.png" alt="NEM Blockchain" title="NEM Blockchain" /></a>
                        <a class="navbar-brand pacNEMTitle pull-right" href="#">Pac<span class="NEMifiedText greaterNEM">nem</span> - Pacman with <span class="NEMifiedText greaterNEM">nem</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="pacNEMNav">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Play</a></li>
                            <li><a href="#">High Scores</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="currentUser" style="display: none;"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;<span id="currentUser-username"></span></a></li>
                            <li><a href="https://github.com/evias/pacNEM" target="_blank"><span class="glyphicon glyphicon-inbox"></span> Source</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="pacNEMWrapper" class="container-fluid text-center">
            {{{body}}}
            </div>
        </div>

        <footer class="container-fluid text-center">
          <p>
            Made with &hearts; for the <a href="https://nem.io" target="_blank"><span class="NEMifiedText">nem</span> Project</a>.<br />
            Copyright &copy; 2017 <a href="https://github.com/evias" target="_blank">Grégory Saive &lt;greg@evias.be&gt;</a>. Source code for the PacNEM project can be found <a href="https://github.com/evias/pacNEM" target="_blank">here</a>.<br />
            Special Thanks to Nicolas Dubien for the original open source js-pacman project (<a href="https://github.com/dubzzz/js-pacman" target="_blank">dubzzz/js-pacman</a>).<br />
          </p>
        </footer>
    </body>
</html>
