body
{
	text-align: center;
}

canvas
{
	display: inline-block;
    margin-bottom: 5px;
}

.game
{
    margin-bottom: 12px;
}

#rooms
{
    margin-top: 10px;
}

ul.members
{
    list-style: none;
}

ul.members li.member
{
    display: inline-block;
    width: 48px;
    height: 64px;
    background: url(/img/user.svg);
    background-size: 48px 48px;
    padding-top: 48px;
    overflow: hidden;
    background-repeat: no-repeat;
}

ul.members li.member:not(:first-child)
{
    margin-left: 10px;
}

#your_room,
#game_details
{
    margin-top: 10px;
}

/**
 * PacNEM overwrite by Grégory Saive. Following
 * styles are used in the fork to provide with
 * explanation about the Game, and rebrand the
 * Game to make it more user friendly.
 *
 * @link https://github.com/evias/pacNEM
 */
p, table, span, a, ins, del, blockquote, textarea, input, select, button {
    font-family: Roboto;
}

.page-header .NEMified img {
    max-height: 40px;
}
.NEMifiedText {
    font-family: Roboto;
    color: #000;
    font-weight: 900;
    text-shadow: none;
}
.importantText {
    font-weight: 900;
}
.page-header .greaterNEM {
    font-size: 40px;
}
.page-header .pacNEMTitle {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-shadow: #dcdcdc 2px 2px;
}
.page-header .pacNEMTitle .smallerTitle {
    font-size: 15px;
}

#pacNEMWrapper {
    min-height: 500px;
}

footer {
    font-size: 9pt;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        font-size: 18px;
    }
}
