body
{
	text-align: center;
}

canvas
{
	display: inline-block;
    margin-bottom: 5px;
}

.game
{
    margin-bottom: 12px;
}

.game span
{
	display: inline-block;

	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	text-decoration: none;
	background-color: #888888;
	color: #ffffff;
	line-height: 1.2em;
}

.game #score::before
{
	content: "Score: ";
}

.game #lifes::after
{
	content: "❤";
	color: #ff0000;
}

.game #multiplicator::before
{
	content: "x";
}

ul.members
{
    list-style: none;
}

ul.members li.member
{
    display: inline-block;
    width: 48px;
    height: 64px;
    background: url(/img/user.svg);
    background-size: 48px 48px;
    padding-top: 48px;
    overflow: hidden;
    background-repeat: no-repeat;
}

ul.members li.member:not(:first-child)
{
    margin-left: 10px;
}

