<html>
  <head>
    <title>HardCore PacMan</title>
    <meta name="description" content="HardCore PacMan is an arcade game developed by Nicolas DUBIEN" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <script type="text/javascript" src="js/pacman.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect(window.location.protocol + '//' + window.location.host);
      var client_game = new ClientGame(socket);
      socket.on('ready', client_game.serverReady);
      socket.on('end_of_game', client_game.serverEndOfGame);
      socket.on('update', client_game.serverUpdate);
      document.onkeydown = function(e) {
        socket.emit('keydown', e.keyCode);
      };
      window.addEventListener("keydown", function(e) {
        // space and arrow keys
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
          e.preventDefault();
        }
      }, false);
    </script>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />
  </head>
  <body>
    <canvas id="myCanvas" height="0" width="0"></canvas>
    <div class="game">
      <span id="score">0</span>
      <span id="lifes">0</span>
      <span id="multiplicator">1</span>
    </div>
    <a href="#" onclick="javascript:client_game.start();">Play</a>
    <a href="https://github.com/dubzzz/js-pacman" target="_blank">GitHub</a>
  </body>
</html>
