body
{
	text-align: center;
}

canvas
{
	display: inline-block;
    margin-bottom: 5px;
}

.game
{
    margin-bottom: 12px;
}

#rooms
{
    margin-top: 10px;
}

ul.members
{
    list-style: none;

    margin: 0;
    padding: 0;
}

ul.members li.member
{
    min-height: 20px;
    max-height: 40px;
}

ul.members li.member .member-name {
    word-break: break-all;
}

/**
 * PacNEM overwrite by Grégory Saive. Following
 * styles are used in the fork to provide with
 * explanation about the Game, and rebrand the
 * Game to make it more user friendly.
 *
 * @link https://github.com/evias/pacNEM
 */
p, table, span, a, ins, del, blockquote, textarea, input, select, button {
    font-family: Roboto;
}

.page-header {
    margin-bottom: 0;
}

.page-header .NEMified img {
    max-height: 40px;
}
.page-header .greaterNEM {
    font-size: 40px;
}
.page-header .pacNEMTitle {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-shadow: #dcdcdc 2px 2px;
    margin-top: -7px;
}
.page-header .pacNEMTitle .smallerTitle {
    font-size: 15px;
}

.countriesList li a img {
    margin-top: -3px;
}

.pacnem-lounge {
    min-height: 120px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #e7edf2;
    display: block;
}

.pacnem-lounge .lounge-title {
    margin-left: 15px;
    border-bottom: 1px solid ;
}

#pacNEMWrapper {
    min-height: 500px;
}

.wrapper-title {
    border-bottom: 1px solid #dcdcdc;
}

footer {
    font-size: 9pt;
}

.row.page-header { border-bottom: 0px; }

.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    width: 100%;
    margin: auto;
    padding: 0;
    height: 70px;
    float: none;
}

.custom-navbar {
    text-align: center;
}

.custom-navbar .nav.navbar-nav {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* IE */
    zoom: 1;
    *display: inline;
}

.custom-navbar .nav.navbar-nav li {
    float: left;
    padding: 2px 5px;
}

@media (max-device-width: 767px) {
    .custom-navbar .nav.navbar-nav li {
        font-size: 1.3em;
    }
    p, table, span, a, ins, del, blockquote, textarea, input, select, button {
        font-size: 1.1em;
    }
}

@media (min-device-width: 768px) {
    .navbar-nav>li {
        font-size: 14px;
    }
    .navbar-nav>li>a {
        padding: 3px;
    }
}


.xem-address {
    text-transform: uppercase;
}
.network-error {
    margin-top: 8px;
}

.successMessage {
    background-color: #def6de;
    min-height: 40px;
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.msgSelectRoom {
    width: 45%;
    margin: auto;
    font-family: Roboto;
    padding: 0px;
    height: 80px;
    padding-left: 20px;
    padding-top: 30px;
    overflow: hidden;
    margin-top: 125px;
}

.label-mosaic {
    font-size: 110%;
    display: inline-block;
    margin: 2px;
    width: 60px;
}

 .label-bigger {
    font-size: 95% !important;
 }

.p0 { padding: 0; }
.m0 { margin: 0; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.m5 { margin: 5px; }

.importantText {
    font-weight: 900;
}

.error-input {
    background-color: #f3aeae;
    border: 1px solid #550101;
}

/**
 * NEM specific colors and font
 */
.NEMifiedText {
    font-family: Roboto;
    color: #000;
    font-weight: 900;
    text-shadow: none;
}

.bgNEMOrange { background-color: #f7a800; }
.bgNEMBlue { background-color: #67b2e8; }
.bgNEMGreen { background-color: #00c4b3; }

.bbNEMOrange { border-bottom: 1px solid #f7a800; }
.bbNEMBlue { border-bottom: 1px solid #67b2e8; }
.bbNEMGreen { border-bottom: 1px solid #00c4b3; }

.btNEMOrange { border-top: 1px solid #f7a800; }
.btNEMBlue { border-top: 1px solid #67b2e8; }
.btNEMGreen { border-top: 1px solid #00c4b3; }

.blNEMOrange { border-left: 1px solid #f7a800; }
.blNEMBlue { border-left: 1px solid #67b2e8; }
.blNEMGreen { border-left: 1px solid #00c4b3; }

.brNEMOrange { border-right: 1px solid #f7a800; }
.brNEMBlue { border-right: 1px solid #67b2e8; }
.brNEMGreen { border-right: 1px solid #00c4b3; }

.colNEMOrange { color: #f7a800; }
.colNEMBlue { color: #67b2e8; }
.colNEMGreen { color: #00c4b3; }

.bgcNEMLogo { background-image: url(/img/NEM_100x100.png); background-repeat: no-repeat; background-position: center center; }
.bglNEMLogo { background-image: url(/img/NEM_100x100.png); background-repeat: no-repeat; background-position: left center; }
.bgrNEMLogo { background-image: url(/img/NEM_100x100.png); background-repeat: no-repeat; background-position: right center; }

.list-group.players-list .list-group-item.player-row {
    border-radius: 10px;
    margin: 10px;
    background-color: #e7edf2;
}

blockquote.bq-minimal-centered {
    /*background: url(/img/blockquote.png) no-repeat 0 0;*/
    width: 75%; 
    margin: auto; 
    border: 0px;
    font-style: italic;
}

.game-end-title {
    font-size: 52px;
    margin-top: 0px;
}

.game-end-title.winner {text-shadow: 3px 3px 0px #4fe15b;}
.game-end-title.loser {text-shadow: 3px 3px 0px #f7a800;}

.summary-bg-wrapper {
    background: url(/img/pacnem_placeholder_white-small.png) no-repeat 0;
    height: 170px;
}


